header .main-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4000;
}
header .main-nav-scrolled{
	background-color: rgba(0,0,0,0.4);
}
.navbar-light .navbar-nav .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .active .nav-link{
	color: #00e0d0;
}

.nav-item a{
    font-size:1.1rem;
    font-weight: 700;
    text-shadow: 2px 2px rgba(39, 38, 38, 0.267);
}

.nav-item a:hover{
    font-size:1.25rem;
    font-weight: 900;
    text-shadow: 4px 4px rgba(39, 38, 38, 0.13);
}

.logo-name{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 8px 8px rgba(39, 38, 38, 0.137); 
}

.logo-name:hover{
    display: inline-block;
    font-size: 2.9rem;
    font-weight: 600;
    text-shadow: 14px 14px rgba(39, 38, 38, 0.055); 
}

.by-logo{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 54%;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px rgba(39, 38, 38, 0.267);
    
}


.by-logo:hover{
    display: inline-block;
    font-size: 1.4rem;
    color: rgb(43, 42, 42);
    font-weight: 600;
    margin-left: 54%;
    text-shadow: 9px 9px rgba(53, 51, 51, 0.144);
    
}

.galery-top{
    margin-top:15%;
}
.bas-top{
    margin-top:15%;
}

  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  
     
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
